:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  background-color: lightgreen;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

input,
select,
button {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

button:hover {
  background: green;
}
